<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="box-shadow: 5px 10px 18px #888888;">
                <div class="text-center">
                    <h1>Forgot your Password?</h1>
                    <h6>OTP will be sent to your email!</h6>
                </div>
                <form class="mt-4">
                    <form autocomplete="off">
                        <form autocomplete="off" [formGroup]="sendOtpForm">
                            <div class="row">
                                <div class="col-md-9 mb-4">
                                    <div>
                                        <input type="email" class="form-control" id="emailField" placeholder="mail@xyz.com" aria-describedby="emailHelp" formControlName="email" #email>
                                        <small style="padding-right: 50px" *ngIf="sendOtpForm.get('email')?.invalid && sendOtpForm.get('email')?.touched" class="text-danger">Email Required!</small>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <div>
                                        <button [disabled]="sendOtpForm.invalid" type="button" (click)="createRandomNum(email.value)" class="btn btn-primary">Send OTP</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form autocomplete="off" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <div class="mb-3">
                                <label for="otpField" class="form-label">OTP Code</label>
                                <input type="text" class="form-control" formControlName="otp" id="otpField">
                                <small style="padding-right: 50px" *ngIf="changePasswordForm.get('otp')?.invalid && changePasswordForm.get('otp')?.touched" class="text-danger">OTP code required!</small>
                                <!-- <small *ngIf="changePasswordForm.value.otp != randomNum && changePasswordForm.value.otp >= minValue && changePasswordForm.get('otp')?.touched" class="text-danger">OTP code is wrong!</small> -->
                              </div>
                              <div class="mb-3">
                                  <label for="newPasswordField" class="form-label">New Password</label>
                                  <input type="password" class="form-control" formControlName="newPwd" id="newPasswordField">
                                  <small *ngIf="changePasswordForm.get('newPwd')?.invalid && changePasswordForm.get('newPwd')?.touched" class="text-danger">New Password is required!</small>
                                </div>
                                <div class="mb-3">
                                  <label for="confirmNewPasswordField" class="form-label">Confirm New Password</label>
                                  <input type="password" class="form-control" formControlName="conPwd" id="confirmNewPasswordField">
                                  <small style="padding-right: 50px" *ngIf="changePasswordForm.get('conPwd')?.invalid && changePasswordForm.get('conPwd')?.touched" class="text-danger">Confirm Password!</small>
                                  <small *ngIf="changePasswordForm.value.newPwd != changePasswordForm.value.conPwd" class="text-danger">Passwords do not match!</small>
                                </div>
                              <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-primary">Change Password</button>
                              <input autocomplete="false" name="hidden" type="text" style="display:none;">
                        </form>
                      </form>
                      <div class="card-footer text-right mt-2">
                        <small>
                            <a routerLink="../login" style="padding-right: 50px">Login</a>
                            <a routerLink="../register">Register</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
